$mainColor : #2B7ECE;
$secondColor: #ABD93E;
$backgroundColor: #F5F5FB;
$badgeColor: #FF7B8C;
$boldTextColor: #193156;
$inprogressColor: #F9CA24;
$outdeliveryColor: #BE2EDD;
$whiteColor: #fff;
$greyColor: #19315680;
$nowRowColor : #3586D314;
$inprogressRowColor: #FFFBED;
$outdeliveryRowColor: #FAEEFD;
$redColor: #EB4D4B;
